@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 97%;
    --foreground: 271 100% 10%;
    --card: 48 83% 97%;
    --card-foreground: 271 100% 10%;
    --popover: 48 83% 97%;
    --popover-foreground: 271 100% 10%;
    --primary: 271 76% 26%;
    --primary-foreground: 60 56% 98%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 271 100% 15%;
    --muted: 60 20% 88%;
    --muted-foreground: 271 50% 30%;
    --accent: 43 74% 49%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 271 76% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 271 20% 10%;
    --foreground: 60 56% 91%;
    --card: 271 20% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 271 20% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 43 74% 49%;
    --primary-foreground: 271 20% 5%;
    --secondary: 271 20% 15%;
    --secondary-foreground: 60 56% 95%;
    --muted: 271 20% 15%;
    --muted-foreground: 60 56% 70%;
    --accent: 271 76% 70%;
    --accent-foreground: 271 20% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 20% 20%;
    --input: 271 20% 15%;
    --ring: 43 74% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
